<div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">Unsure of an players strategy? Read these descriptions!</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Strategy</th>
                    <th>Strategy Component</th>
                    <th>Trust Model</th>
                    <th>Option</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for strategy in strategies %}
                    <tr>
                        <td>{{ strategy['donor_strategy'] }}</td>
                        <td>{{ strategy['non_donor_strategy'] }}</td>
                        <td>{{ strategy['trust_model'] }}</td>
                        <td>{{ strategy['options'] }}</td>
                        <td>{{ strategy['description'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>