{# Display the connection between player ids and their strategies #}
{# For inclusion in another web page #}


<div class="panel panel-info" style="margin: 10px">
<div class="panel-heading">How players ids are assigned to strategies</div>
<div class="panel-body">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player ID</th>
                <th>Strategy</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td>{{ player.id }}</td>
                    <td>{{ player.strategy }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>