{# The web page to display information about the website #}

{% extends "base.html" %}

{% block app_content %}
    <div class="container">
        <p>Developed by: James King</p>
        <p>This web application is part of a project used to explore mechanisms that aid the evolution of cooperation in multi-agent systems.
        Please see my reports for further information on the project such as the details for my indirect reciprocity model.</p>
        <p>Used code from Miguel Grinberg's Flask Mega Tutorial and axelrod.readthedocs.io</p>
    </div>
{% endblock %}