{# The base for all other web pages including a navigation bar and facilities for displaying message alerts #}
{# All webpages are included in app_contect block at the bottom #}

{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Nature Engine{% else %}Welcome to Nature Engine{% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <style>
    hr {
        background-color: #061539;
        height: 1px;
    }
    </style>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-leaf"></span>Nature Engine</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Match<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.match', level="Basic") }}">Basic</a></li>
                            <li><a href="{{ url_for('main.match', level="Advanced") }}">Advanced</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tournament<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.tournament', level="Basic") }}">Basic</a></li>
                            <li><a href="{{ url_for('main.tournament', level="Advanced") }}">Advanced</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reputation<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('indir_rec.reputation') }}">Reputation Game</a></li>
                            <li><a href="{{ url_for('indir_rec.reputation_historical') }}">Reputation Historical Analysis</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('main.about') }}">About</a></li>
                </ul>
                {% if current_user.is_anonymous %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('main.login') }}">Login</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('main.logout') }}">Logout</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('main.my_experiments') }}">My Experiments</a></li>
                    </ul>
                    <p class="navbar-text navbar-right">User: {{ current_user.username }}</p>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{# All webpages are included in app_contect block #}
{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
{% endblock %}

