{% extends "base.html" %}
{%  import 'bootstrap/wtf.html' as wtf %}

{# Template for setting up an iterated prisoner's dilemma match between two players #}
{% block app_content %}
    {# Initial description for user #}
    <div class="jumbotron" style="padding: 20px">
        <h1>Match</h1>
        <p>
            Here you can select two strategies for each agent and run a match of the Iterated Prisoner's dilemma.
            A match consists of two players interacting with each other over a number of rounds.
            In each round a player may choose to cooperate or defect, the choice of what the player does depends on their
            selected strategy and the previous interactions in the match.
            Select a strategy for each of the players, type in the number of rounds you wish them to interact over
            and press run to initiate a match.
            Once finished you will be redirected to a page with the outcome and statistics produced by the interactions.
            If you're unsure of any strategies have a look at the descriptions in the information panel at the bottom.
        </p>
    </div>
    {# Form to select agents and length of match #}
    <div class="container">
        <h1>Set up</h1>
        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <hr/>
        {# Include a description of the strategies available #}
        <div class="row">
            {% include "_strategies_description.html" %}
        </div>
    </div>
{% endblock %}