{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron" style="padding: 20px">
        <h1>Reputation</h1>
        <p>
            Select the amount of each strategy you want for the first generation of players in this game (reproduction will alter
        </p>
    </div>

    <div class="container">
        <div id="select_agents"></div>
        <hr />
        <div class="row">
            {% include "_indir_rec_strategies_description.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/babel">


        class SelectAgents extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    strategies: {{ strategies|tojson|safe }},
                    num_of_onlookers: 0,
                    num_of_generations:0,
                    length_of_generations: 0,
                    mutation_chance: 0,
                    players: [],
                    next_player_id: 0
                };
                this.handleLenOfGenChange = this.handleLenOfGenChange.bind(this);
                this.handleNumOfGenChange = this.handleNumOfGenChange.bind(this);
                this.handleOnlookerChange = this.handleOnlookerChange.bind(this);
                this.handleMutationChange = this.handleMutationChange.bind(this);
            }

            add = (name, options) => {
                const { players } = this.state;
                // Check the count of the players added so far
                let player_count = 0;
                for(let i = 0; i < players.length; i++){
                    player_count += players[i].count
                }
                // Limit the amount of players added to 200
                if(player_count < 201){
                    // Find if their is already an instance of this strategy in the players list
                    let index = -1;
                    for (let i = 0; i < players.length; i++){
                        if(players[i].name === name && players[i].options === options){
                            index = i;
                            break;
                        }
                    }
                    // If their is an instance add to that instances count
                    if(index !== -1){
                        players[index].count += 1;
                        this.setState({players:players});
                    } else {
                         // If their is not an instance create one
                        players.push({name: name, options: options, id:this.state.next_player_id, count:1});
                        this.setState({players:players, next_player_id: this.state.next_player_id + 1});
                    }
                }
            };

            remove = (name, options) => {
                const { players } = this.state;
                // Find if their is an instance of this strategy in the list
                let index = -1;
                for (let i = 0; i < players.length; i++){
                    if(players[i].name === name && players[i].options === options){
                        index = i;
                        break;
                    }
                }
                // If their is an instance
                if(index !== -1){
                    // If there is more than one count of the instance decrement the count
                    if(players[index].count>1){
                        players[index].count -= 1;
                        this.setState({players:players});
                    } else {
                        // If there is only one instance remove this instance from the list
                        players.splice(index, 1);
                        this.setState({players:players});
                    }
                }
            };

            handleSubmit = () => {
                const { players } = this.state;
                // Check the count of the players added so far
                let player_count = 0;
                for(let i = 0; i < players.length; i++){
                    player_count += players[i].count
                }
                // If the user has selected the right amount of players, post
                if(player_count < 201 && player_count > 4){
                    $.ajax({
                        url: "{{ url_for('indir_rec.reputation') }}",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({ strategy_counts: players, num_of_onlookers: this.state.num_of_onlookers,
                            num_of_generations: this.state.num_of_generations,
                            length_of_generations: this.state.length_of_generations,
                            mutation_chance: this.state.mutation_chance})
                    }).done(function(data) {
                        window.location = data['url'];
                    });
                } else {
                    alert("You must select between 5 and 200 players");
                }
            };

            handleOnlookerChange(event) {
                this.setState({num_of_onlookers:event.target.value})
            };

            handleNumOfGenChange(event) {
                this.setState({num_of_generations:event.target.value})
            };

            handleLenOfGenChange(event) {
                this.setState({length_of_generations:event.target.value})
            };

            handleMutationChange(event){
                this.setState({mutation_chance:event.target.value})
            };

            render(){
                return(
                    <div>
                        <div className="container">
                            <div className="row">
                                <Strategies strategies={this.state.strategies} add={this.add}/>
                                <SelectedPlayersList selected={this.state.players} remove={this.remove}/>
                            </div>
                        </div>
                        <form>
                            <label>Number of onlookers for each interaction: <input onChange={this.handleOnlookerChange} value={this.state.num_of_onlookers} type="number" min="0"/></label><br/>
                            <label>Number of generations: <input onChange={this.handleNumOfGenChange} value={ this.state.num_of_generations } type="number" min="2" max="20"/></label><br/>
                            <label>Length of generation (timepoints): <input onChange={this.handleLenOfGenChange} value={this.state.length_of_generations} type="number" min="5" max="200"/></label><br/>
                            <label>Mutation chance (between 0 and 1): <input onChange={this.handleMutationChange} value={this.state.mutation_chance} type="number" min="0" max="1" step="0.01"/></label><br/>
                        </form>
                        <button onClick={ this.handleSubmit } className="btn btn-success btn-lg">Submit</button>
                    </div>
                )
            }
        }

        class SelectedPlayersList extends React.Component {
            state = {};

            render(){
                return(
                    <div className="col-md-6">
                        <div className="container-fluid">
                            <h3>Selected Players</h3>
                            <div className="row border-box-sizing">
                                <div className="col-md-2"><h4>Count</h4></div>
                                <div className="col-md-8 center-block"><h4>Strategy</h4></div>
                                <div className="col-md-2"> </div>
                            </div>
                            { this.props.selected.map(player => <SelectedPlayer key={player.id} count={player.count} name={player.name} options={player.options} remove={this.props.remove}/>) }
                        </div>
                    </div>
                )
            }
        }

        function displayProperty(value, propertyIndex, propertyArray){
            if (propertyIndex >= propertyArray.length-1) {
                return value;
            }
            else {
               return value + ", "
            }
        }

        class SelectedPlayer extends React.Component {
            state = {
                name: this.props.name,
                options: this.props.options
            };

            render(){
                let styles = {
                    border: '2px solid #ccc',
                    padding: '0.01em 16px',
                    borderRadius: '16px',
                };
                return(
                    <div className="row border-box-sizing" style={styles}>
                        <div className="col-md-2">
                            { this.props.count }
                        </div>
                        <div className="col-md-8 center-block">
                            <b>{ this.state.name }</b><br/>properties: {this.state.options.map(displayProperty)}
                        </div>
                        <div className="col-md-2">
                            <button onClick={() => this.props.remove(this.state.name, this.state.options) } className="btn btn-danger btn-sm">Remove</button>
                        </div>
                    </div>
                )
            }
        }

        class Strategies extends React.Component{
            state = {};

            render(){
                return(
                    <div className="col-md-6">
                        <div className="container-fluid">
                            <h3>Strategies</h3>
                            <div className="row border-box-sizing">
                                <div className="col-md-10 center-block"><h4>Strategy</h4></div>
                                <div className="col-md-2"> </div>
                            </div>
                            { this.props.strategies.map(strategy => <Strategy key={strategy.id} name={strategy.name} options={strategy.options} add={this.props.add}/>) }
                        </div>
                    </div>
                )
            }
        }

        class Strategy extends React.Component {
            state = {
                name: this.props.name,
                options: this.props.options
            };

            render(){
                let styles = {
                    border: '2px solid #ccc',
                    padding: '0.01em 16px',
                    borderRadius: '16px',
                };
                return (
                    <div className="row border-box-sizing" style={styles}>
                        <div className="col-md-10 center-block">
                            <b>{ this.state.name }</b><br/>properties: {this.state.options.map(displayProperty)}
                        </div>
                        <div className="col-md-2">
                            <button onClick={() => this.props.add(this.state.name, this.state.options) } className="btn btn-primary btn-sm">Add</button>
                        </div>
                    </div>
                )
            }
        }

        ReactDOM.render(
            <SelectAgents/>,
            document.getElementById('select_agents')
        );

    </script>
{% endblock %}