{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron" style="padding: 20px">
        <h1 style="">Reputation Game Running</h1>
        <p>
            You will be redirected soon.
        </p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">
        setInterval(function() {
            $.ajax({
                url: "{{ url_for('indir_rec.is_reputation_finished', reputation_id=reputation_id) }}",
                method: "GET"
            }).done(function(data) {
                console.log(data);
                if (data['finished']){
                    window.location = data['url'];
                }
            });
        }, 2000);
    </script>
{% endblock %}