<div class="panel panel-info" style="margin: 10px">
    <div class="panel-heading">Unsure of an players strategy? Read these descriptions!</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for strategy in strategies %}
                    <tr>
                        <td>{{ strategy.__class__.__name__ }}</td>
                        <td>{{ strategy.__doc__ }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>