{% extends "base.html" %}
{%  import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
    <h1 style="margin: 10px">Welcome! Here we will run an instance of the iterated prisoner's dilemma, where two agents interact with each other.</h1>
    {% include "_strategies_description.html" %}
    <div class="jumbotron" style="margin: 10px">
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    </div>
    </div>
{% endblock %}