{% extends "base.html" %}
{%  import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <p>{{ _('Welcome! Here we will run an instance of the iterated prisoner\'s dilemma, where two agents interact with each other.') }}</p>
    <div class="container">
    <div class="jumbotron" style="padding: 10px">
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    </div>
    </div>
    {% include "_strategies_description.html" %}
{% endblock %}