{% extends "base.html" %}

{% block app_content %}
    <div class="container" width="100%">
        <div class="row" style="background-color: #004400">
            <div class="col-md-5">
                <img src="/static/images/buds.png" alt="buds of spring" width="100%">
            </div>
            <div class="col-md-7">
                <h1 style="color: white">Welcome to the Nature Engine</h1>
                <p style="color: white">In these sections we shall introduce the iterated prisoners dilemma along with context on the motivation surrounding it</p>
                <p style="color: white">Give a background of the game</p>
                <p style="color: white">Go back through papers for inspiration</p>
                <p style="color: white">Provide links to my reports for the course</p>
                <p style="color: white">Mention the key papers surrounding the game</p>
            </div>
        </div>
        <div class="row" style="background-color: #003333">
            <div class="col-md-7">
                <h1 style="color: white">Explain the biology</h1>
            </div>
            <div class="col-md-5">
                <img src="/static/images/jared-poledna-465006-unsplash.jpg" alt="jellyfish" width="100%">
            </div>
        </div>
        <div class="row" style="background-color: #354F00">
            <div class="col-md-5">
                <img src="/static/images/squirrel.png" alt="squirrel" width="100%">
            </div>
            <div class="col-md-7">
                <h1 style="color: white">Describe strategies</h1>
            </div>
        </div>
        <div class="row" style="background-color: #061539">
            <div class="col-md-7">
                <h1 style="color: white">Explain tournaments and communities</h1>
                <p style="color: white">Relate to agents and AI</p>
            </div>
            <div class="col-md-5">
                <img src="/static/images/james-carol-lee-642040-unsplash.jpg" alt="coral and fish" width="100%">
            </div>
        </div>
    </div>
{% endblock %}