{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron" style="padding: 20px">
        <h1>Match Completed</h1>
        <p>
            Your match has completed! See the points picked up by each player and the interactions round by round.
        </p>
    </div>
    <div class="container">
        <h2>How did the players points stack up?</h2>
        {% for players_name, points in player_points.items() %}
            <label>Player {{ players_name }}: {{ points }} points</label>
            <div class="progress">
                <div class="progress-bar {% if points==player_points.values()|max %}progress-bar-success{% else %}progress-bar-warning{% endif %}" role="progressbar" aria-valuenow="{{ points }}" aria-valuemin="0" aria-valuemax="{{ "{}".format((5*interaction_history|length)/2) }}" style="{{ "width: {}%".format(100 * (points / ((5*(interaction_history|length)/2)))) }}"></div>
            </div>
        {% endfor %}
        <hr />
        <h2>What interactions occurred?</h2>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Round</th>
                        {% for player in players %}
                            <th>Player {{ player.id }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set count=[0] %}
                    {% for action in interaction_history %}
                        {% if count[0]%2==0 %}<tr><th>{{ action.round_num }}</th>{% endif %}
                        <td class="{% if action.cooperate == True %}success{% else %}danger{% endif %}">{% if action.cooperate == True %}Cooperate{% else %}Defect{% endif %}</td>
                        {% if count[0]%2!=0 %}</tr>{% endif %}
                        {% if count.append(count.pop() + 1) %}{% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr />
        {% include "_player_strategy_description.html" %}
    </div>
{% endblock %}