{# Author: James King adapted from code in https://www.youtube.com/watch?v=Ke90Tje7VS0&t=3352s #}

{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron" style="padding: 20px">
        <h1>Tournament</h1>
        <p>
            A tournament consists of a number of players (more than 2) that are all interacting with each other.
            Each player in the tournament interacts with every other player in a match between the two.
            Players accumulate points across the matches they play against all the others.
            In a nature engine tournament you may select a number of players and assign each player a strategy, press run to initiate the tournament.
            If you're unsure of any strategies have a look at the descriptions in the information panel at the bottom.
        </p>
    </div>

    <div class="container">
        <h1 style="color: red">Here be the form to select players' strategies!</h1>
        <div id="select_agents"></div>
        <hr />
        <div class="row">
            {% include "_strategies_description.html" %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script type="text/babel">

        class SelectAgents extends React.Component{
            state = {
                strategies: [
                    {id:1, name:'Tit for Tat'},
                    {id:2, name:'Defector'},
                    {id:3, name:'Cooperator'},
                    {id:4, name:'Anti Tit for Tat'},
                ],
                players: [],
                next_player_id: 0
            };

            add = (player) => {
                const { players } = this.state;
                if(players.length < 50){
                    players.push({name: player, id:this.state.next_player_id});
                    this.setState({players:players, next_player_id: this.state.next_player_id + 1})
                }
                console.log(this.state.players)
            };

            remove = (player) => {
                console.log(player);
                const { players } = this.state;
                var index = -1;
                for (var i = 0; i < players.length; i++){
                    console.log(players[i]);
                    if(players[i].name === player){
                        index = i;
                        break;
                    }
                }
                if(index !== -1){
                    players.splice(index, 1);
                    console.log(this.state.players);
                    this.setState({players:players})
                }
                console.log(index)
            };

            get_id = () => {
                return( this.state.next_player_id )
            };

            render(){
                return(
                    <div className="container">
                        <div className="row">
                            <div className="col">
                                <Strategies strategies={this.state.strategies} add={this.add} remove={this.remove}/>
                            </div>
                            <div className="col">
                                <SelectedPlayersList selected={this.state.players} get_id={this.get_id}/>
                            </div>
                        </div>
                    </div>
                )
            }
        }

        class SelectedPlayersList extends React.Component {
            state = {};

            render(){
                return(
                    <div>
                        { this.props.selected.map(player => <SelectedPlayer key={player.id} name={player.name}/>) }
                    </div>
                )
            }
        }

        class SelectedPlayer extends React.Component {
            state = {};

            render(){
                return(
                    <div><span className="badge badge-primary m-2">{this.props.name}</span></div>
                )
            }
        }

        class Strategies extends React.Component{
            state = {};

            render(){
                return(
                    <div>
                        { this.props.strategies.map(strategy => <Strategy key={strategy.id} name={strategy.name} add={this.props.add} remove={this.props.remove}/>) }
                    </div>
                )
            }
        }

        class Strategy extends React.Component {
            state = {
                name: this.props.name
            };

            render(){
                return (
                    <div>
                        <span className="badge badge-primary m-2">{ this.state.name }</span>
                        <button onClick={() => this.props.add(this.state.name) } className="btn btn-secondary btn-sm">Add</button>
                        <button onClick={() => this.props.remove(this.state.name) } className="btn btn-danger btn-sm">Remove</button>
                    </div>
                )
            }
        }

        ReactDOM.render(
            <SelectAgents/>,
            document.getElementById('select_agents')
        );

    </script>
{% endblock %}